.login-page{
  width: 100%;
  overflow: hidden;
  height: 100%;
  text-align: center;
}
.login-wrap {
  width: 100%;
  height: 85%;
  background-image: url(../../assets/image/bg.jpg);
  /* background-color: salmon; */
  background-size: cover;
}
.logo-img{
  height: 80px;
  display: inline-block;
}
.top{
  display: flex;
  justify-content: space-between;
  height: 80px;
  line-height: 80px;
  padding: 0 10px;
}
.login-box{
  width: 300px;
  padding: 40px 50px;
  box-shadow: 0 0 20px #EDEDED;
  border-radius: 10PX;
  background: white;
  float: right;
  margin-top: 10%;
  margin-right: 4%;
  
}
.login-input{
  margin-bottom: 20px;
}
.login-bottom{
  line-height: 28px;
  background-color: white;
}