.basic-item-box label{
  display: inline-block;
  width: 136px;
}
.basic-item-box .msg-input{
  width: 500px;
  vertical-align: top;
}
.basic-item-box{
  margin-top: 10px;
}
.basic-item-box .mini-select{
  width: 100px;
}
.log-label{
  display: inline-block;
  width: 114px;
  text-align: right;
}

.jbs {
  width: 615px;
  margin: 20px auto 0px;
  text-align: left;
  padding: 5px 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #EDEDED, #FFFFFF);
}