.net-item-box{
  margin-top: 10px;
}
.net-item-box label{
  display: inline-block;
  width: 130px;
}
.net-item-box .user-type {
  width: 80px;
}
.net-input-dialog {
  width: 300px;
}
.net-item-box .net-input-dialog-label {
  width: 62px;
}