.view-box{
  height: 100%;
}
.el-header, .el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-aside {
  background-color: #D3DCE6;
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  position: relative;
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.el-main>p {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 16px;
  line-height: 40px;
}
.menu-li{
  padding-left: 0;
  text-align: left;
}
.view-box .el-menu{
  border-right: none;
}

.collapse-icon {
  margin-left: 10px;
  font-size: 18px;
  cursor: pointer;
}

.width160 {
  width: 180px;
}

.width64 {
  width: 64px;
}

.quit-span {
  padding: 0 30px;
}

.el-dropdown-menu {
  padding: 0;
  margin-top: 0px!important;
}