.basic-item-box .input-box {
  width: 480px;
}
.el-slider__runway.show-input {
    margin-right: 80px;
    width: auto;
}
.audio-slider0 .el-slider__bar {
  background-color: #409EFF;
}
.audio-slider1 .el-slider__bar {
  background-color: #67C23A;
}
.audio-slider2 .el-slider__bar {
  background-color: salmon;
}