.gldp-darkneon {
	position: absolute;
	font-family: 'helvetica';
}

/* Core style for every cell */
.gldp-darkneon .core {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	background: #646464;
}

/* Cell border */
.gldp-darkneon .border {
	border-style: solid;
	border-width: 0px;
	border-color: #222;
}

/* Month/Year text and select */
.gldp-darkneon .monyear,
.gldp-darkneon .monyear select {
	font-size: 16px !important;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
	background:#c8c8c8;
}

.gldp-darkneon .monyear select {
	color: #222;
	text-shadow: none;
}

/* Month/Year text */
.gldp-darkneon .monyear span {
	margin: 0 5px 0 5px;
}

/* Prev/Next arrows */
.gldp-darkneon .prev-arrow,
.gldp-darkneon .next-arrow {
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}

.gldp-darkneon .prev-arrow:active,
.gldp-darkneon .next-arrow:active {
	color: #08f;
}

.gldp-darkneon .prev-arrow-off,
.gldp-darkneon .next-arrow-off {
	color: #fff;
	opacity: 0.25;
}

/* Days of the week */
.gldp-darkneon .dow {
	color: #fff;
	font-weight: bold;
	cursor: wait !important;
	background: #c8c8c8;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#3775ef',GradientType=0 );
}

/* Weekdays */
.gldp-darkneon .mon,
.gldp-darkneon .tue,
.gldp-darkneon .wed,
.gldp-darkneon .thu,
.gldp-darkneon .fri {
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}

/* Weekend days */
.gldp-darkneon .sat,
.gldp-darkneon .sun {
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
}

/* Selectable days that are outside of current month being shown */
.gldp-darkneon .outday {
	color: #666 !important;
}

/* Hover */
.gldp-darkneon .mon:hover,
.gldp-darkneon .tue:hover,
.gldp-darkneon .wed:hover,
.gldp-darkneon .thu:hover,
.gldp-darkneon .fri:hover,
.gldp-darkneon .sat:hover,
.gldp-darkneon .sun:hover {
	color: #ddd;
	background: #858585;
}

/* Non-Selectable days */
.gldp-darkneon .noday {
	color: #444;
	font-weight: normal;
	cursor: wait !important;
	background: #000000;
	background: -moz-linear-gradient(top,  #000000 0%, #111111 98%, #3a3a3a 99%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(98%,#111111), color-stop(99%,#3a3a3a), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #000000 0%,#111111 98%,#3a3a3a 99%,#000000 100%);
	background: -o-linear-gradient(top,  #000000 0%,#111111 98%,#3a3a3a 99%,#000000 100%);
	background: -ms-linear-gradient(top,  #000000 0%,#111111 98%,#3a3a3a 99%,#000000 100%);
	background: linear-gradient(to bottom,  #000000 0%,#111111 98%,#3a3a3a 99%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );
}

/* Currently selected day */
.gldp-darkneon .selected {
	color: #fff;
	font-weight: bold;
	border-color: #000000;
	background: #454545;
}

/* Today */
.gldp-darkneon .today {

}

/* Special */
.gldp-darkneon .special {

}
