<div>
  <el-tabs v-model="activeName">
    <el-tab-pane label="用户管理" name="first">
      <p style="margin-top: 10px;" class="p-title">
        <span>日志列表</span> 
        <span class="right">
          <el-button class="user-btn" type="primary" size="mini">安全问题</el-button>
          <el-button @click="addUser" class="user-btn" type="primary" size="mini">添加</el-button>
        </span>
      </p>
      <el-table border :data="allUsers.tableData" style="width: 100%; margin-top: 10px;">
        <el-table-column  width="80px" align="center" prop="name" label="序号"></el-table-column>
        <el-table-column align="center" prop="name" label="用户名"></el-table-column>
        <el-table-column align="center" prop="name" label="用户类型"></el-table-column>
        <el-table-column align="center" label="操作">
          <template>
            <el-button type="success" size="mini">修改</el-button>
            <el-button type="danger" size="mini">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-tab-pane>
    <el-tab-pane label="在线用户" name="second">
      <p style="margin-top: 10px;" class="p-title">
        <span>用户列表</span> 
        <span class="right">
          <el-button class="user-btn" type="primary" size="mini">刷新</el-button>
        </span>
      </p>
      <el-table border :data="onlineUsers.tableData" style="width: 100%; margin-top: 10px;">
        <el-table-column  width="80px" align="center" prop="name" label="序号"></el-table-column>
        <el-table-column align="center" prop="name" label="用户名"></el-table-column>
        <el-table-column align="center" prop="name" label="用户类型"></el-table-column>
        <el-table-column align="center" prop="name" label="IP地址"></el-table-column>
        <el-table-column align="center" prop="name" label="用户操作时间"></el-table-column>
      </el-table>
    </el-tab-pane>
  </el-tabs>
  
  <el-dialog title="添加用户" :visible.sync="dialogUser">
    <div>
      <div class="dialog-item-box">
        <label for="">用户名</label>
        <el-input class="dialog-item-input" v-model="dialogData.userName" size="mini"></el-input>
      </div>
      <div class="dialog-item-box">
        <label for="">用户类型</label>
        <el-select class="dialog-item-input" v-model="dialogData.userType" size="mini">
          <el-option label="操作员" value="operator"></el-option>
        </el-select>
      </div>
      <div class="dialog-item-box">
        <label for="">管理员密码</label>
        <el-input class="dialog-item-input" v-model="dialogData.adminPwd" size="mini"></el-input>
      </div>
      <div class="dialog-item-box">
        <label for="">密码</label>
        <el-input class="dialog-item-input" v-model="dialogData.password" size="mini"></el-input>
      </div>
      <div class="dialog-item-box">
        <label for="">密码确认</label>
        <el-input class="dialog-item-input" v-model="dialogData.rePwd" size="mini"></el-input>
      </div>
      <div>
        <el-checkbox v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox>
          <div style="margin: 1px 0;"></div>
          <el-checkbox-group @change="handleCheckedChange" v-model="checked">
            <el-checkbox v-for="item in labels" :label="item.value" :key="item.value">{{ item.label }}</el-checkbox>
          </el-checkbox-group>
      </div>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button size="mini" @click="dialogUser = false">取 消</el-button>
      <el-button size="mini" type="primary" @click="dialogUser = false">确 定</el-button>
    </span>
  </el-dialog>
</div>