.defend-item-box{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.filename{
  display: inline-block;
  height: 26px;
  width: 400px;
  vertical-align: top;
  border: 1px solid #dadada;
  border-radius: 4px;
  cursor: no-drop;
  line-height: 26px;
  font-size: 14px;
  text-indent: 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.el-dialog{
  margin-top: 0 !important;
  box-shadow: 0px 0px 17px #EDEDED;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

