.user-btn{
  margin-top: 5px; 
  line-height: 10px; 
  margin-right: 8px; 
  height: 24px;
}
.dialog-item-box label{
  display: inline-block;
  width: 120px;
}
.dialog-item-box .dialog-item-input{
  width: 360px;
}
.dialog-item-input{
  margin-bottom: 10px;
}
.user-checkbox {
  margin-top: 10px;
}

.pwd-level {
  display: inline-block;
  height: 10px;
  width: 80px;
  margin-right: 6px;
  margin-bottom: 8px;
}

.u-color1{
  background-color: salmon;
}

.u-color2{
  background-color: rgb(215, 240, 166);
}

.u-color3{
  background-color: rgb(59, 236, 127);
}

.greenLabel {
  background-color: #67C23A;
  color: white;
  padding: 2px 12px;
  border-radius: 4px;
}

.redLabel {
  background-color: #F56C6C;
  color: white;
  padding: 2px 12px;
  border-radius: 4px;
}