.pic-item-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic-item-box .input-box {
  width: 480px;
  margin-bottom: 12px;
  text-align: left;
}

.pic-item-box label{
  display: inline-block;
  width: 136px;
  margin-bottom: 12px;
  padding-right: 10px;
}

.sec-title-pic {
  width: 500px;
  text-align: left;
  margin: 12px auto;
  /* border-bottom: 1px solid #ededed; */
  padding-bottom: 14px;
  padding-right: 160px;
}

.slider-box-div {
  width: 480px; 
  display: inline-block; 
  vertical-align: middle;
  margin-bottom: 10px;
}

.left-box {
  width: 48%;
  float: left;
}

.right-box {
  width: 49%;
  float: right;
}

.middle-box {
  border-left: 1px solid #ededed;
  float: left;
  height: 400px;
  margin-top: 40px;
  margin-left: 10px;
}