* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #333333;
}
.right {
  float: right;
}
label {
  text-align: right;
  margin-right: 10px;
}
.p-title {
  /* background: #dfdfdf; */
  background-image: linear-gradient(to right, #dfdfdf, #ffffff);
  text-align: left;
  padding-left: 10px;
  line-height: 32px;
  font-size: 14px;
  color: #333333;
}
.form-item-box{
  text-align: left;
  padding-left: 10px;
  margin-top: 10px;
}
.form-item-box .item-label{
  display: inline-block;
  width: 160px;
}
.el-table .is-center{
  padding: 6px;
}
.el-tabs__item {
  font-size: 16px;
}
.el-tabs__nav-scroll {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
}

.el-collapse-item__header {
  padding-left: 20px;
}

.el-tabs__active-bar {
  background-color: #567;
}

.el-tabs__item.is-active {
  color: #567;
}

.el-submenu [class^=el-icon-] {
  margin-right: 15px;
}

.el-submenu .el-menu-item {
  text-indent: 24px;
}

.el-menu-item span {
  margin-left: 9px;
}

.el-slider__button {
  height: 14px;
  width: 14px;
}