.net-item-box{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.net-item-box label{
  display: inline-block;
  width: 130px;
}
.net-item-box .net-input{
  width: 450px;
}
.net-item-box .port-input{
  width: 360px;
}
.port-wrap {
  display: flex;
  justify-content: space-around;
}
.port-wrap>div {
  flex: 1;
}
.port-wrap>div:first-child{
  border-right: 1px solid #CCCCCC;
}
.wireless-title{
  text-align: left; 
  text-indent: 50px; 
  line-height: 42px;
  width: 480px;
  display: inline-block;
}
.split-line{
  background-color: #CCCCCC;
  width: 90%;
  margin: 0 auto 24px;
  height: 1px;
}