.pic-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic-input {
  width: 400px;
  text-align: left;
}
.pic-item label, .pic-item .el-checkbox {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  color: #606266;
}
.el-collapse-item__header {
  font-weight: 600;
}
.el-collapse-item__header {
  background-color: #E9EEF3;
}
.el-collapse-item__wrap {
  padding: 10px;
  border-radius: 4px;
}
.el-slider__input {
  width: 52px;
}
.pic-item .slider {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}
.pic-item .el-slider__runway.show-input {
  margin-right: 66px;
  width: auto;
}